.gameProfileBackgroundContainer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

}

.container{
    scrollbar-width: none;
}

.gameProfileBody{
    display: flex;
    flex-direction: column;
}

.contentContainer{
    display: flex;
}

.revContainer{
    display: flex;
}

.leftcontainercontent {
    padding: 1rem;
}

.rightcontainercontent {
    padding-top: 1rem;
}

.extraImagesContainer {
    gap: 10px;
}

.leftcontainerreview {
    justify-content: left;
    align-content: left;
    padding-right: 10rem;
}

.rightcontainerreview {
    justify-content: left;
    align-content: left;
    padding-top: 7rem;

}

.gameProfileDescription{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    background-color: white;
    max-width: 300px;
    padding: 1rem;
}

.developerContainer{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    padding: 1rem;
}

.sysReqContainer{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    padding: 1rem;
}

.createReviewContainer {
    display: flex;
    flex-direction: column;   
    gap: 3px;
    position: relative;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    background-color: lightgrey;
    padding: .5rem;
    width: auto;
}

.reviewbutton {
    background-color: tomato;
    color: white;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.buyButton {
    padding-left: 14rem;
}

.reviewtext{
    width: 300px;
    height: 100px;
    outline: none;
    resize: none; 
    border-radius: 9px;
}




/*
.gameProfileBackgroundContainer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.gameProfileBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; 
    align-items: center;
}

.reviewbutton {
background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}


.contentContainer .rightContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentContainer .leftContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.reviewContainer .rightContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviewContainer .leftContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.contentContainer .leftContainer :nth-child(1){
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    width: 150px;
    position: relative;
    left: 200px;
}

.contentContainer .leftContainer :nth-child(2){
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
}


.gameProfileBody .reviewListContainer{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-left: 140px;
}

.gameProfileDescription{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    background-color: white;
}

.developerContainer{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
}

.sysReqContainer{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
}

.createReviewContainer{
    display: flex;
    flex-direction: column;
}

.reviewtext{
    width: 400px;
    height: 100px;
    outline: none;
    resize: none; 
    border-radius: 9px;
}

.createReviewContainer>form>button{
    width: 80px;
    height: 40px;
    border-radius: 9px;
    border: 1px solid black;
}

.createReviewContainer>form>div{
    display: flex;
    gap: 20px;
}
*/