.totalWrapper{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.backgroundHome{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}


.onSaleContainer{
    display: flex;
    gap: 10px;
}

.onSaleContainer>button{
    position: relative;
    top: 60px;
    width: 50px;
    height: 40px;
}

.onSaleContainer .onSaleGameContainer{
    display: flex;
    gap: 15px;
}

.onSaleContainer .onSaleGameContainer .onSaleGame{
    display: flex;
    flex-direction: column;
}