.everything{
    overflow-x: hidden;
}

.totalWrapper{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.backgroundHome{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

