.wrapper{
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.devInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 4rem;
}

.insideInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insideInfoContainer>label{
    padding:1rem;
}

div>div>label>text {
    font-size: large;
}

div>div>label>span {
    font-size: large;
}

.devInfoContainer>div>label>text::after{
    content: "";
    display: block;
}
div>div>label>input{
    margin-top: 5px;
    width: 400px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    padding: 5px;
}


.devInfoContainer>div>label>textarea{
    margin-top: 5px;
    width: 400px;
    height: 200px;
    resize: none;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    padding: 5px;
}

.devInfoContainer>div>label>textarea:focus{
    width: 400px;
    height: 200px;
    resize: none;
    border-radius: 15px;
    border: 2px solid tomato;
    box-shadow: 2px 2px 1px tomato;
    outline: none;
  
}

div>div>label>input:focus{
    width: 400px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid tomato;
    box-shadow: 2px 2px 1px tomato;
    outline: none;
}

.postgameButton{
    margin-left: 30%;
}

button>span{
    display: flex;
}

/*sysReqSection*/
.sysReqSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.insideSys{
    display: flex;
    flex-direction: column;
}

.sysReqSection>div>label{
    display: block;
    margin-top: 20px;   
    padding-bottom: 1.5rem;
}

.box{
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
}

.sysReqSection>div>label>span{
    display: block;
    align-items: center;
}

.submitbbutton {
    background-color: plum;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    font-family: "neo-bold";
    cursor: pointer;
}

/*imageUploadSection */
.imageUploadSection{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.imageUploadSection>input{
    padding-left: 4rem;
    padding-bottom: 3rem;
}
