
.postGameSection>nav{
    height: 60px;
}

.postGameSection>nav::after{
    clear: both;
    content: "";
    display: table;
}
.postGameSection>nav>.container{
   margin-left: 10px;
}

.postGameSection>nav>div>ul{
    list-style: none;
    display: flex;
    gap: 30px;
   
}
.postGameSection>nav>ul>li{
    float: left;
    
}

.postGame{
    float: left;
}

