
@font-face {
    font-family: "neo-bold";
    src: url("../fonts/VictorMonoAll/TTF/VictorMono-Bold.ttf");
}

@font-face {
    font-family: "neo-norm";
    src: url("../fonts/VictorMonoAll/TTF/VictorMono-Regular.ttf");
}

body{
    font-family: "neo-bold";
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}

.registercontainer{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: tomato;
    border: 3px solid black;
    box-shadow: 10px 10px 2px black;
    width: 400px;
    gap: 20px;
    padding: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.innerLastContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 1rem;
    position: relative;
}

.lastContainer{
    display: flex;
    flex-direction: column;
}

.title{
    font-family: "neo-bold";
    position: relative;
    top: -10px;
    font-size: 30px;
}

.innerContainer>input{
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
}

.innerContainer>input:focus{
    border-color: none;
    outline: none;
    background-color: gainsboro;
}

input[type="submit"]{
    background-color: plum;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    font-family: "neo-bold";
}

input[type="submit"]:focus{
    border-color: none;
    outline: none;
    background-color: gainsboro;
}




.labelContainer{
    display: flex;
    justify-content: flex-start;
}

.validMessage{
    color: black;
    font-family: "neo-norm";
    background-color: rgb(42, 245, 177);
    border-radius: 15px;
    width: 250px;
    opacity: 80%;
    padding: .25rem
}

.invalidMessage{
    color: black;
    font-family: "neo-norm";
    background-color: red;
    border-radius: 15px;
    width: 250px;
    opacity: 80%;
    padding: .25rem
}

.submitbbutton {
    background-color: plum;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    font-family: "neo-bold";
    cursor: pointer;
}

.reviewbbutton {
    background-color: rgb(255, 200, 104);
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    font-family: "neo-bold";
    cursor: pointer;
    padding-top: 2px;
}

.homeButton {
    background-color: antiquewhite;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
    font-family: "neo-bold";
    cursor: pointer;
    padding-top: 2px;
}

.alreadyHave {
    padding-top: 1rem;
}